body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.glyphicon-ok {
  color: green;
}

.glyphicon-remove {
  color: red;
}

.glyphicon-alert {
  color: orange;
}

#editor {
	width: 95%;
  height: 400px;
  margin: 2.5%;
}